<% var params=data%>
  <!DOCTYPE html>
  <html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Youtube Viewer, Youtube Sub, Youtube View">
    <meta name="keywords" content="youtube viewer, youtube sub, youtube view, youtube tool, youtube cheo">
    <link rel="icon" href="image/favicon.ico" sizes="32x32">
    <title>Dzolink</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style-tube.css" type="text/css" rel="stylesheet" media="screen,projection" />

  </head>

  <body class="white">
    <nav class="teal" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo" style="margin-top: 10px;"><img src="image/logo.png"
            height="40px;"></a>
        <ul class="right hide-on-med-and-down">
          <h5>Dzolink</h5>
        </ul>

      </div>
    </nav>

    <main>
      <div class="container" style="margin-top: 3%;">

        <div class="row">
          <div class="input-field col s8">
            <input id="key" type="text" class="validate">
            <label for="key">Nhập KEY của bạn</label>
          </div>

          <div class="input-field col s4">
            <a class="waves-effect waves-light btn-large" id="watch"><i class="material-icons left">equalizer</i>Chi
              Tiết</a>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s4">
            <input id="from" type="text" class="validate">
            <label for="from">Từ ngày (yyyymmdd)</label>
          </div>

          <div class="input-field col s4">
            <input id="to" type="text" class="validate">
            <label for="to">Đến ngày (yyyymmdd)</label>
          </div>
          <div class="input-field col s4">
            <a class="waves-effect waves-light btn-large" id="filter"><i
                class="material-icons left">equalizer</i>Filter</a>
          </div>
        </div>

        <%if(params !==null && params.length> 0){%>
          <div>
            <div class="col s12 center" style="margin-bottom: 10%; margin-top: 5%;">
              <%if(params !==null && params.length> 0){%>
                <h3 style="color: blue;">Thống Kê
                </h3>
                <%}%>
            </div>

            <table class="highlight responsive-table" id="tb">
              <thead>
                <tr>
                  <th>
                  </th>
                  <% for(var i=0; i < params.length; i++) { %>
                    <th>
                      <%= params[i].day %>
                    </th>
                    <% } %>
                </tr>
              </thead>

              <tbody>

                <tr>
                  <td>
                    Success
                  </td>
                  <% for(var i=0; i < params.length; i++) { %>
                    <td>
                      <%= params[i].success %>
                    </td>
                    <% } %>
                </tr>

                <tr>
                  <td>
                    Error
                  </td>
                  <% for(var i=0; i < params.length; i++) { %>
                    <td>
                      <%= params[i].error %>
                    </td>
                    <% } %>
                </tr>

              </tbody>
            </table>

            <div class="row right">
              <div class="input-field col s12">
                <a class="waves-effect waves-light btn-large" id="export"><i
                    class="material-icons left">exit_to_app</i>Xuất
                  Excel</a>
              </div>
            </div>

            <div class="row right">
              <div class="input-field col s12">
                <% var total=0;%>
                  <% for(var i=0; i < params.length; i++) { %>
                    <% total +=params[i].success;%>
                      <% } %>
                        <h5 style="color: brown;" id="total">Tổng cộng: <%=total%>
                        </h5>
              </div>
            </div>

          </div>
      </div>
      <%}%>
    </main>

    <footer class="center page-footer teal">
      <div class="footer-copyright">
        <div class="container"><a class="brown-text text-lighten-3" href="">Kingpes</a>
        </div>
      </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="js/jquery.table2excel.js"></script>
    <script src="js/materialize.js"></script>

    <script>
      $(document).ready(function () {
        $('select').formSelect();
      });

      $("#key").val(localStorage.getItem("key"));


      $("#watch").click(function () {
        var key = $("#key").val();
        var month = 0; //$("#month").val();
        if (key !== '') {
          window.location.href = "http://dzolink.herokuapp.com?key=" + key + "&month=" + month;
          localStorage.setItem("key", key);
          //localStorage.setItem("month", month);
        } else
          alert("Nhập KEY")
      });

      $("#filter").click(function () {
        let from = $("#from").val();
        let to = $("#to").val();
        if (from !== '' && to !== '') {

          //alert(datediff(parseDate(from), parseDate(to)));

          var mins = Number(from);
          var maxs = Number(to);

          var title = '';
          var success = '';
          var error = '';
          var total = 0;
          '<% params.forEach(function(item, index){%>';
          var m = '<%-item.month%>'.toString();
          if ('<%-item.month%>' <= 9) m = "0" + m;
          var d = '<%-item.day%>'.toString();
          if ('<%-item.day%>' <= 9) d = "0" + d;
          if (Number('<%-item.year%>' + m + d) >= mins && Number('<%-item.year%>' + m + d) <= maxs) {
            title += '<th>'
            title += '<%-item.day%>'
            title += '</th>'

            success += '<th>'
            success += '<%-item.success%>'
            success += '</th>'

            error += '<th>'
            error += '<%-item.error%>'
            error += '</th>'

            total += Number('<%-item.success%>')
          }
          '<%})%>'

          var html = '<thead>'
          html += '<tr>'
          html += '<th>'
          html += '</th>'

          html += title

          html += '</tr>'
          html += '</thead>'

          html += '<tbody>'

          html += '<tr>'
          html += '<td>'
          html += 'Success'
          html += '</td>'
          
          html += success

          html += '</tr>'

          html += '<tr>'
          html += '<td>'
          html += 'Error'
          html += '</td>'
          
          html += error

          html += '</tr>'

          html += '</tbody>'

          $('#tb').empty();
          $('#tb').append(html);

          $('#total').text("Tổng cộng: " + total);

        }
      });

      $("#export").click(function () {
        $("#tb").table2excel({
          exclude: ".noExl",
          name: "TubeApi",
          filename: "TubeApi",
          fileext: ".xls"
        });
      });

      function parseDate(str) {
        var mdy = str.split('/');
        return new Date(mdy[2], mdy[1] - 1, mdy[0]);
      }

      function datediff(first, second) {
        return Math.round((second - first) / (1000 * 60 * 60 * 24));
      }

    </script>
  </body>

  </html>